h3 {
    font-family: "MySecondaryFont", sans-serif;
}

li {
    display: list-item;
    text-align: left;
    font-family: "MyFont", sans-serif;
}

li::marker {
    color: var(--text);
    font-size: 1em;
    padding-left: 10px;
}

ul {
    padding-left: 20px;
    list-style-type: none;

}

.condition-grid {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 14px 0;
    padding-top: 100px;
}


.condition-card {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    gap: 24px;
    margin: 14px 0;
}

.condition-content {

    margin-top: 280px;
    font-family: "MySecondaryFont", sans-serif;
    color: var(--text);
    font-size: 15px;
    text-align: center;

}

.condition-description {

    padding-top: 30px;
}

.condition-description h3 {
    text-align: left;
}


.condition-card-content {

    width: 450px;
    height: 520px;
    padding: 24px;
    border-radius: 10px;
    /* Smooth corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: #FAF6EA;


    backface-visibility: hidden;


}

.condition-content h2 {
    color: var(--blue-text);
}

.img-condition {
    margin-bottom: 10px;
}

.buttons {
    position: absolute;
    margin-top: 860px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 12px;
}

.select-button {
    height: 50px;
    width: 130px;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 14px;
    background: var(--blue-light);
    cursor: pointer;
    color: white;
    font-family: "MyFont";
    font-size: 12px;
}

.learn-button {
    height: 50px;
    width: 130px;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 14px;
    background: var(--blue-light);
    cursor: pointer;
    color: white;
    font-family: "MyFont";
    font-size: 12px;

}

.select-button:hover {
    background: var(--blue);
}

.select-button.selected {
    background: var(--sage-dark)
}

.learn-button:hover {
    background: var(--blue);
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cfcfcf;
    transition: 0.3s ease;
}

.dot.active {
    width: 24px;
    border-radius: 999px;
    background-color: var(--blue-text);
}

/* Inner wrapper holds the actual 3D layout context */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Activated state rotates the internal layout */
.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.front,
.back {

    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}

.food-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;

}

.food-content {
    padding-left: 0px;
    flex: 1;
}

.food-content h3 {
    color: #9FC3EA;

}

.food-tag {

    margin: 0;
    padding: 2px 9px;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--bg);
}

.food-tags {
    font-weight: 500;
    font-family: "MyFont", sans-serif;
    font-size: 14px;
    display: flex;

    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.info-card {
    border-top: 1px solid #A5A193;
    border-bottom: 1px solid #A5A193;
    border-left: 1px solid #A5A193;
    border-right: 1px solid #A5A193;
    background: var(--bg);
    border-radius: 18px;
    padding: 1rem;
    margin-top: 50px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .06);
}

.good-food {

    background: var(--sage);
    border-radius: 18px;
    padding: 1rem;
    padding-left: 0px;
    height: 180px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);

}


.bad-food {

    background: var(--coral);
    border-radius: 18px;
    padding: 1rem;
    padding-left: 0px;
    height: 180px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);

}